
.MultList{
    list-style: none;
}

.Mults{
    font-size: 2.5rem;
    padding-right: 1rem;
}

.MultContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.MultsInput{
    height: 4rem;
    font-size: 2.5rem;
    width: 6rem
}

.listContainer{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    height: 70vh;
    background-color: blueviolet;
    align-items: center;
    justify-content: center;
}